* {
  background-color: #1c1c1c;
}

.app {
  margin: 40px auto;
  width: 550px;
  height: 868px;
  background-color: #23252c;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  height: 317px;
  width: 317px;
  margin-top: 44px;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.dipslay-picture {
  width: 100%;
  object-fit: cover;
  transform: scale(2.5) translateY(-20px);
}

.info {
  background-color: aqua;
  width: 317px;
  min-height: 399px;
}

.socials {
  background-color: beige;
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
}
